Repository dotkom/monoweb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @junlarsen, @henrikskog, @jotjern, @terbau, @brage-andreas, @madsab, @henrikhorluck

.github/CODEOWNERS:

# Code owner file for Monoweb.
#
# We don't take this very seriously, but they are really useful for making
# GitHub auto-assign reviewers to PRs. It makes it easier for contributors to
# get pull requests reviewed.
#
# Another goal is also that people who have more experience with certain parts
# of the codebase get the responsibility to review patches that touch these
# parts.


# Until we have more defined responsibilities, I'll take ownership of code that
# is not covered by other, because I know every part of the codebase well.
*                     @junlarsen


# Pipelines and automation
.github               @junlarsen
*.Dockerfile          @junlarsen
docker-compose.yml    @junlarsen


# Main applications
apps/brevduen         @junlarsen
apps/dashboard        @henrikskog
apps/rpc              @junlarsen
apps/invoicification  @junlarsen
apps/rif              @junlarsen
apps/web              @jotjern


# Libraries and packages
packages/auth         @junlarsen @jotjern
packages/config
packages/core         @junlarsen @jotjern @henrikskog @terbau
packages/db           @jotjern
packages/email
packages/environment  @junlarsen
packages/gateway-trpc @junlarsen @jotjern @henrikskog @terbau
packages/logger       @junlarsen
packages/proxy-nextjs @junlarsen
packages/tsconfig
packages/types
packages/ui           @brage-andreas @madsab
packages/utils        @brage-andreas


# Tools
tools/shell           @henrikskog


# Infrastructure located in the monorepo
infra/auth0           @henrikhorluck @jotjern

reduced hover card delay
  apps/web/src/components/organisms/EventCalendar/EventCalendarItem.tsx
Owners: @jotjern

fixed bug
  apps/web/src/components/views/CommitteeView/index.tsx
Owners: @jotjern

removed unused import
  apps/web/src/app/events/calendar/page.tsx
Owners: @jotjern

fixed bug
  apps/web/src/components/views/CompanyView/index.tsx
Owners: @jotjern

fixed lint stuff
  apps/web/src/app/events/calendar/[year]/[month]/page.tsx
  apps/web/src/app/events/calendar/page.tsx
  apps/web/src/app/events/page.tsx
  apps/web/src/components/molecules/EventsViewToggle/index.tsx
  apps/web/src/components/organisms/EventCalendar/EventCalendarItem.tsx
  apps/web/src/components/organisms/EventCalendar/getCalendarArray.ts
  apps/web/src/components/organisms/EventCalendar/index.tsx
  apps/web/src/components/organisms/EventCalendar/types.ts
  apps/web/tailwind.config.cjs
  packages/ui/src/components/HoverCard/HoverCard.tsx
Owners: @jotjern, @brage-andreas, @madsab

lint
  packages/core/src/modules/core.ts
  packages/core/src/modules/event/event-hosting-group-repository.ts
  packages/core/src/modules/event/event-hosting-group-service.ts
  packages/core/src/modules/group/group-repository.ts
  packages/core/src/modules/group/group-service.ts
Owners: @junlarsen, @jotjern, @henrikskog, @terbau

Fix type problem
  apps/web/src/app/events/components/AttendanceCard/AttendanceCard.tsx
Owners: @jotjern

minor stuff
  apps/web/src/app/events/components/AttendanceBoxPool.tsx
  apps/web/src/app/events/components/AttendanceCard/AttendanceCard.tsx
  apps/web/src/app/events/components/AttendanceCard/RegistrationButton.tsx
Owners: @jotjern

Set minimum node version to 22
  .github/workflows/ci.yml
  apps/brevduen/Dockerfile
  package.json
Owners: @junlarsen

Remove version field in docker compose
  docker-compose.yml
Owners: @junlarsen

Remove unused react-icons package
  apps/web/package.json
  pnpm-lock.yaml
Owners: @jotjern, @junlarsen

Remove version field in docker compose (#1227)
  docker-compose.yml
Owners: @junlarsen

Remove unused react-icons package (#1229)
  apps/web/package.json
  pnpm-lock.yaml
Owners: @jotjern, @junlarsen

Set minimum node version to 22 (#1226)
  .github/workflows/ci.yml
  apps/brevduen/Dockerfile
  package.json
Owners: @junlarsen

Add missing Dialog Title to Attendee List dialog
  apps/web/src/app/events/components/AttendanceCard/ViewAttendeesButton.tsx
Owners: @jotjern

Implement mdx editor in dashboard (#1144)
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/job-listing/write-form.tsx
  apps/dashboard/src/app/form.tsx
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/modules/job-listing/modals/create-job-listing-modal.tsx
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/views/JobListingView.tsx
  pnpm-lock.yaml
Owners: @henrikskog, @jotjern, @junlarsen

Add missing Dialog Title to Attendee List dialog (#1233)
  apps/web/src/app/events/components/AttendanceCard/ViewAttendeesButton.tsx
Owners: @jotjern

Upgrade turborepo dependencies to latest
  package.json
  pnpm-lock.yaml
Owners: @junlarsen

Upgrade turborepo dependencies to latest (#1237)
  package.json
  pnpm-lock.yaml
Owners: @junlarsen

create run command in justfile
  apps/kvittering-backend/justfile
Owners: @junlarsen

fix dockerfile user problems
  apps/kvittering-backend/Dockerfile
Owners: @junlarsen

Don't run container as root
  apps/kvittering-backend/Dockerfile
Owners: @junlarsen

fix ecr path in deployment action
  .github/workflows/deploy-prod.yml
Owners: @junlarsen

Add backend code for kvittering
  .github/workflows/deploy-prod.yml
  apps/kvittering-backend/.gitignore
  apps/kvittering-backend/.python-version
  apps/kvittering-backend/Dockerfile
  apps/kvittering-backend/README.md
  apps/kvittering-backend/justfile
  apps/kvittering-backend/pyproject.toml
  apps/kvittering-backend/src/core/data_types.py
  apps/kvittering-backend/src/core/email_service.py
  apps/kvittering-backend/src/core/get_and_validate_env.py
  apps/kvittering-backend/src/core/pdf_generator_service.py
  apps/kvittering-backend/src/core/utils.py
  apps/kvittering-backend/src/server.py
  apps/kvittering-backend/uv.lock
Owners: @junlarsen

update cd
  .github/workflows/deploy-prod.yml
Owners: @junlarsen

Upgrade remaining infra to pnpm@9.15.7
  .github/workflows/ci.yml
  apps/brevduen/Dockerfile
  apps/dashboard/Dockerfile
  apps/invoicification/Dockerfile
  apps/rif/Dockerfile
  apps/rpc/Dockerfile
  package.json
Owners: @junlarsen, @henrikskog

Don't run container as root
  apps/kvittering-backend/Dockerfile
Owners: @junlarsen

fix ecr path in deployment action
  .github/workflows/deploy-prod.yml
Owners: @junlarsen

fmt
  apps/kvittering-backend/src/core/data_types.py
  apps/kvittering-backend/src/core/email_service.py
  apps/kvittering-backend/src/core/get_and_validate_env.py
  apps/kvittering-backend/src/core/pdf_generator_service.py
  apps/kvittering-backend/src/core/utils.py
  apps/kvittering-backend/src/server.py
Owners: @junlarsen

deployment stuff
  apps/kvittering-backend/Dockerfile
  apps/kvittering-backend/justfile
  apps/kvittering-backend/src/server.py
Owners: @junlarsen

create run command in justfile
  apps/kvittering-backend/justfile
Owners: @junlarsen

fix dockerfile user problems
  apps/kvittering-backend/Dockerfile
Owners: @junlarsen

Add backend code for kvittering
  .github/workflows/deploy-prod.yml
  apps/kvittering-backend/.gitignore
  apps/kvittering-backend/.python-version
  apps/kvittering-backend/Dockerfile
  apps/kvittering-backend/README.md
  apps/kvittering-backend/justfile
  apps/kvittering-backend/pyproject.toml
  apps/kvittering-backend/src/core/data_types.py
  apps/kvittering-backend/src/core/email_service.py
  apps/kvittering-backend/src/core/get_and_validate_env.py
  apps/kvittering-backend/src/core/pdf_generator_service.py
  apps/kvittering-backend/src/core/utils.py
  apps/kvittering-backend/src/server.py
  apps/kvittering-backend/uv.lock
Owners: @junlarsen

testing action
  .github/workflows/deploy-prod.yml
Owners: @junlarsen

only deploy on pushes to main
  .github/workflows/deploy-prod.yml
Owners: @junlarsen

readme and variable variable handling
  apps/kvittering-backend/.python-version
  apps/kvittering-backend/README.md
  apps/kvittering-backend/justfile
  apps/kvittering-backend/src/core/environment_variables.py
  apps/kvittering-backend/src/core/get_and_validate_env.py
  apps/kvittering-backend/src/server.py
Owners: @junlarsen

add lint goal and lint
  apps/kvittering-backend/justfile
  apps/kvittering-backend/src/core/email_service.py
  apps/kvittering-backend/src/core/environment_variables.py
  apps/kvittering-backend/src/core/pdf_generator_service.py
  apps/kvittering-backend/src/core/utils.py
  apps/kvittering-backend/src/server.py
Owners: @junlarsen

Only run sentry in prod
  apps/kvittering-frontend/src/main.tsx
Owners: @junlarsen

lint
  apps/kvittering-frontend/tsconfig.json
Owners: @junlarsen

fixups env
  apps/kvittering-backend/src/core/pdf_generator_service.py
  apps/kvittering-backend/src/server.py
Owners: @junlarsen
