Repository dotkom/monoweb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @junlarsen, @henrikskog, @jotjern, @terbau, @brage-andreas, @madsab, @henrikhorluck

Add message at the top with info about changes from last kvittering
  apps/kvittering-frontend/src/components/receipt-form.tsx
Owners: @junlarsen

feat: initial audit-log prototype
  apps/dashboard/src/app/(dashboard)/auditlog/page.tsx
  apps/dashboard/src/app/ApplicationShell.tsx
  apps/dashboard/src/modules/auditlog/queries/use-auditlog-all-query.ts
  apps/dashboard/src/modules/auditlog/use-auditlog-table.tsx
  packages/core/src/modules/auditlog/auditlog-repository.ts
  packages/core/src/modules/auditlog/auditlog-service.ts
  packages/core/src/modules/committee/committee-service.ts
  packages/core/src/modules/core.ts
  packages/core/src/modules/interest-group/interest-group-service.ts
  packages/core/src/modules/job-listing/job-listing-repository.ts
  packages/db/package.json
  packages/db/prisma/migrations/20250226164724_added_audit_log/migration.sql
  packages/db/prisma/migrations/20250305191825_added_user_name_field_to_auditlog/migration.sql
  packages/db/prisma/migrations/20250305192528_added_first_name_and_last_name_column/migration.sql
  packages/db/prisma/migrations/20250305204111_removed_changes/migration.sql
  packages/db/prisma/schema.prisma
  packages/gateway-trpc/src/modules/auditlog/auditlog-router.ts
  packages/gateway-trpc/src/modules/interest-group/interest-group-router.ts
  packages/gateway-trpc/src/router.ts
  packages/types/src/auditlog.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
Owners: @henrikskog, @junlarsen, @jotjern, @terbau

add long description to Group
  apps/dashboard/src/app/(dashboard)/group/write-form.tsx
  apps/web/src/components/views/CommitteeView/index.tsx
  packages/core/src/modules/group/__test__/group-service.spec.ts
  packages/db/prisma/migrations/20250312174545_add_long_description_to_group/migration.sql
  packages/db/prisma/schema.prisma
Owners: @henrikskog, @jotjern, @junlarsen, @terbau

Added committee list
  apps/web/src/app/committees/page.tsx
  apps/web/src/components/molecules/CommitteListItem/index.tsx
  apps/web/src/components/organisms/CommitteeList/index.tsx
  apps/web/src/components/organisms/Navbar/Navbar.tsx
  apps/web/src/components/views/CommitteeView/index.tsx
  apps/web/src/components/views/CommitteesView/index.tsx
Owners: @jotjern

Add long description to Group (#1270)
  apps/dashboard/src/app/(dashboard)/group/write-form.tsx
  apps/web/src/components/views/CommitteeView/index.tsx
  packages/core/src/modules/group/__test__/group-service.spec.ts
  packages/db/prisma/migrations/20250312174545_add_long_description_to_group/migration.sql
  packages/db/prisma/schema.prisma
Owners: @henrikskog, @jotjern, @junlarsen, @terbau

Remove unused globals dependency
  apps/kvittering-frontend/package.json
  pnpm-lock.yaml
Owners: @junlarsen

Move infrastructure documentation out of monoweb
  docs/infrastructure/brevduen.md
  docs/infrastructure/core.md
  docs/infrastructure/gradestats.md
  docs/infrastructure/index.md
  docs/infrastructure/monoweb.md
  docs/infrastructure/onlineweb4.md
  docs/infrastructure/rif.md
  docs/infrastructure/vengeful-vineyard.md
Owners: @junlarsen

temp
  .github/workflows/deploy-prod.yml
  apps/kvittering-backend/src/server.py
  doppler.yaml
Owners: @junlarsen

tmp
  .github/workflows/deploy-prod.yml
Owners: @junlarsen

Move infrastructure documentation out of monoweb (#1272)
  docs/infrastructure/brevduen.md
  docs/infrastructure/core.md
  docs/infrastructure/gradestats.md
  docs/infrastructure/index.md
  docs/infrastructure/monoweb.md
  docs/infrastructure/onlineweb4.md
  docs/infrastructure/rif.md
  docs/infrastructure/vengeful-vineyard.md
Owners: @junlarsen

Remove unused globals dependency (#1271)
  apps/kvittering-frontend/package.json
  pnpm-lock.yaml
Owners: @junlarsen

Remove env template
  apps/kvittering-backend/.env.template
Owners: @junlarsen

Add new doppler project
  doppler.yaml
Owners: @junlarsen

Add kvittering-backend to doppler.yaml (#1273)
  apps/kvittering-backend/.env.template
  doppler.yaml
Owners: @junlarsen

Add hide listing feature (#1218)
  apps/dashboard/src/app/(dashboard)/job-listing/write-form.tsx
  packages/core/src/mock.ts
  packages/core/src/modules/job-listing/job-listing-repository.ts
  packages/db/prisma/migrations/20250305172732_add_boolean_hidden_to_joblisting/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/src/fixtures/job-listing.ts
Owners: @henrikskog, @junlarsen, @jotjern, @terbau

Upgrade to react-email/render v1
  apps/brevduen/src/lambda.ts
  apps/kvittering-frontend/package.json
  packages/emails/package.json
  packages/emails/src/template.tsx
  packages/ui/src/components/DropdownMenu/DropdownMenu.tsx
  pnpm-lock.yaml
Owners: @junlarsen, @brage-andreas, @madsab

Upgrade to react-zxing v2.1.0
  apps/dashboard/package.json
  apps/dashboard/src/modules/attendance/components/attendance-page/QrCodeScanner.tsx
  apps/kvittering-frontend/package.json
  pnpm-lock.yaml
Owners: @henrikskog, @junlarsen

Upgrade to react-email/render v1 (#1275)
  apps/brevduen/src/lambda.ts
  apps/kvittering-frontend/package.json
  packages/emails/package.json
  packages/emails/src/template.tsx
  packages/ui/src/components/DropdownMenu/DropdownMenu.tsx
  pnpm-lock.yaml
Owners: @junlarsen, @brage-andreas, @madsab

Upgrade to react-zxing v2.1.0 (#1276)
  apps/dashboard/package.json
  apps/dashboard/src/modules/attendance/components/attendance-page/QrCodeScanner.tsx
  pnpm-lock.yaml
Owners: @henrikskog, @junlarsen

.github/CODEOWNERS:

# Code owner file for Monoweb.
#
# We don't take this very seriously, but they are really useful for making
# GitHub auto-assign reviewers to PRs. It makes it easier for contributors to
# get pull requests reviewed.
#
# Another goal is also that people who have more experience with certain parts
# of the codebase get the responsibility to review patches that touch these
# parts.


# Until we have more defined responsibilities, I'll take ownership of code that
# is not covered by other, because I know every part of the codebase well.
*                     @junlarsen


# Pipelines and automation
.github               @junlarsen
*.Dockerfile          @junlarsen
docker-compose.yml    @junlarsen


# Main applications
apps/brevduen         @junlarsen
apps/dashboard        @henrikskog
apps/rpc              @junlarsen
apps/invoicification  @junlarsen
apps/rif              @junlarsen
apps/web              @jotjern


# Libraries and packages
packages/auth         @junlarsen @jotjern
packages/config
packages/core         @junlarsen @jotjern @henrikskog @terbau
packages/db           @jotjern
packages/email
packages/environment  @junlarsen
packages/gateway-trpc @junlarsen @jotjern @henrikskog @terbau
packages/logger       @junlarsen
packages/proxy-nextjs @junlarsen
packages/tsconfig
packages/types
packages/ui           @brage-andreas @madsab
packages/utils        @brage-andreas


# Tools
tools/shell           @henrikskog


# Infrastructure located in the monorepo
infra/auth0           @henrikhorluck @jotjern
