Repository dotkom/monoweb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @junlarsen, @henrikskog, @jotjern, @terbau, @brage-andreas, @madsab, @henrikhorluck

Add backend code for kvittering (#1225)
  .github/workflows/deploy-prod.yml
  apps/kvittering-backend/.gitignore
  apps/kvittering-backend/.python-version
  apps/kvittering-backend/Dockerfile
  apps/kvittering-backend/README.md
  apps/kvittering-backend/justfile
  apps/kvittering-backend/pyproject.toml
  apps/kvittering-backend/src/core/data_types.py
  apps/kvittering-backend/src/core/email_service.py
  apps/kvittering-backend/src/core/environment_variables.py
  apps/kvittering-backend/src/core/pdf_generator_service.py
  apps/kvittering-backend/src/core/utils.py
  apps/kvittering-backend/src/server.py
  apps/kvittering-backend/uv.lock
Owners: @junlarsen

Revert "Upgrade remaining infra to pnpm@9.15.7"
  .github/workflows/ci.yml
  apps/brevduen/Dockerfile
  apps/dashboard/Dockerfile
  apps/invoicification/Dockerfile
  apps/rif/Dockerfile
  apps/rpc/Dockerfile
  package.json
Owners: @junlarsen, @henrikskog

Revert "Update pnpm to v9.15.7 (#1235)"
  package.json
Owners: @junlarsen

Revert "Upgrade remaining infra to pnpm@9.15.7" (#1246)
  .github/workflows/ci.yml
  apps/brevduen/Dockerfile
  apps/dashboard/Dockerfile
  apps/invoicification/Dockerfile
  apps/rif/Dockerfile
  apps/rpc/Dockerfile
  package.json
Owners: @junlarsen, @henrikskog

Remove legacy sanity pages
  apps/dashboard/next.config.mjs
  apps/web/package.json
  apps/web/src/api/get-article.ts
  apps/web/src/api/get-company-page.ts
  apps/web/src/api/sanity.ts
  apps/web/src/app/articles/[slug]/page.tsx
  apps/web/src/app/company-info/page.tsx
  apps/web/src/components/molecules/.gitkeep
  apps/web/src/components/molecules/PortableText.tsx
  apps/web/src/components/organisms/.gitkeep
  apps/web/src/components/views/.gitkeep
  apps/web/src/components/views/ArticleView.tsx
  pnpm-lock.yaml
Owners: @henrikskog, @jotjern, @junlarsen

Remove legacy sanity pages (#1232)
  apps/dashboard/next.config.mjs
  apps/web/package.json
  apps/web/src/api/get-article.ts
  apps/web/src/api/get-company-page.ts
  apps/web/src/api/sanity.ts
  apps/web/src/app/articles/[slug]/page.tsx
  apps/web/src/app/company-info/page.tsx
  apps/web/src/components/molecules/.gitkeep
  apps/web/src/components/molecules/PortableText.tsx
  apps/web/src/components/organisms/.gitkeep
  apps/web/src/components/views/.gitkeep
  apps/web/src/components/views/ArticleView.tsx
  pnpm-lock.yaml
Owners: @henrikskog, @jotjern, @junlarsen

node version
  .github/workflows/deploy-prod.yml
Owners: @junlarsen

align dependencies
  apps/kvittering-frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @junlarsen

revert to main
  .github/workflows/deploy-prod.yml
Owners: @junlarsen

Add frontend code
  apps/kvittering-frontend/.env.local
  apps/kvittering-frontend/LICENSE
  apps/kvittering-frontend/README.md
  apps/kvittering-frontend/biome.json
  apps/kvittering-frontend/components.json
  apps/kvittering-frontend/index.html
  apps/kvittering-frontend/package.json
  apps/kvittering-frontend/postcss.config.js
  apps/kvittering-frontend/public/vite.svg
  apps/kvittering-frontend/src/App.tsx
  apps/kvittering-frontend/src/assets/react.svg
  apps/kvittering-frontend/src/components/header.tsx
  apps/kvittering-frontend/src/components/receipt-form.tsx
  apps/kvittering-frontend/src/components/ui/button.tsx
  apps/kvittering-frontend/src/components/ui/file-upload.tsx
  apps/kvittering-frontend/src/components/ui/form.tsx
  apps/kvittering-frontend/src/components/ui/input.tsx
  apps/kvittering-frontend/src/components/ui/label.tsx
  apps/kvittering-frontend/src/components/ui/radio-group.tsx
  apps/kvittering-frontend/src/components/ui/select.tsx
  apps/kvittering-frontend/src/components/ui/textarea.tsx
  apps/kvittering-frontend/src/lib/api.ts
  apps/kvittering-frontend/src/lib/compress-img.ts
  apps/kvittering-frontend/src/lib/upload-s3.ts
  apps/kvittering-frontend/src/lib/utils.ts
  apps/kvittering-frontend/src/main.tsx
  apps/kvittering-frontend/src/styles/globals.css
  apps/kvittering-frontend/src/vite-env.d.ts
  apps/kvittering-frontend/tailwind.config.ts
  apps/kvittering-frontend/test_build/README.md
  apps/kvittering-frontend/test_build/s3/kill.sh
  apps/kvittering-frontend/test_build/s3/test_s3_deploy.sh
  apps/kvittering-frontend/test_build/s3/upload.sh
  apps/kvittering-frontend/tsconfig.app.json
  apps/kvittering-frontend/tsconfig.json
  apps/kvittering-frontend/tsconfig.node.json
  apps/kvittering-frontend/upload.sh
  apps/kvittering-frontend/vite.config.ts
Owners: @junlarsen

dont add python backend to workspace
  pnpm-workspace.yaml
Owners: @junlarsen

address comments
  apps/kvittering-frontend/LICENSE
  apps/kvittering-frontend/README.md
Owners: @junlarsen

remove test build
  apps/kvittering-frontend/test_build/README.md
  apps/kvittering-frontend/test_build/s3/kill.sh
  apps/kvittering-frontend/test_build/s3/test_s3_deploy.sh
  apps/kvittering-frontend/test_build/s3/upload.sh
Owners: @junlarsen

test cd
  .github/workflows/deploy-prod.yml
  apps/kvittering-frontend/src/components/header.tsx
Owners: @junlarsen

add deploy action
  .github/workflows/deploy-prod.yml
Owners: @junlarsen

Add kvittering-frontend (#1245)
  .github/workflows/deploy-prod.yml
  apps/kvittering-frontend/.env.local
  apps/kvittering-frontend/README.md
  apps/kvittering-frontend/biome.json
  apps/kvittering-frontend/components.json
  apps/kvittering-frontend/index.html
  apps/kvittering-frontend/package.json
  apps/kvittering-frontend/postcss.config.js
  apps/kvittering-frontend/public/vite.svg
  apps/kvittering-frontend/src/App.tsx
  apps/kvittering-frontend/src/assets/react.svg
  apps/kvittering-frontend/src/components/header.tsx
  apps/kvittering-frontend/src/components/receipt-form.tsx
  apps/kvittering-frontend/src/components/ui/button.tsx
  apps/kvittering-frontend/src/components/ui/file-upload.tsx
  apps/kvittering-frontend/src/components/ui/form.tsx
  apps/kvittering-frontend/src/components/ui/input.tsx
  apps/kvittering-frontend/src/components/ui/label.tsx
  apps/kvittering-frontend/src/components/ui/radio-group.tsx
  apps/kvittering-frontend/src/components/ui/select.tsx
  apps/kvittering-frontend/src/components/ui/textarea.tsx
  apps/kvittering-frontend/src/lib/api.ts
  apps/kvittering-frontend/src/lib/compress-img.ts
  apps/kvittering-frontend/src/lib/upload-s3.ts
  apps/kvittering-frontend/src/lib/utils.ts
  apps/kvittering-frontend/src/main.tsx
  apps/kvittering-frontend/src/styles/globals.css
  apps/kvittering-frontend/src/vite-env.d.ts
  apps/kvittering-frontend/tailwind.config.ts
  apps/kvittering-frontend/tsconfig.app.json
  apps/kvittering-frontend/tsconfig.json
  apps/kvittering-frontend/tsconfig.node.json
  apps/kvittering-frontend/upload.sh
  apps/kvittering-frontend/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @junlarsen

Enable automerge for patch and minor
  .github/renovate.json
Owners: @junlarsen

Text update in kvitterinskjema
  apps/kvittering-frontend/src/components/header.tsx
Owners: @junlarsen

Use default masking in sentry replay
  apps/kvittering-frontend/src/main.tsx
Owners: @junlarsen

Enable automerge for patch and minor (#1248)
  .github/renovate.json
Owners: @junlarsen

Extend auth0 cloudwatch log retention
  infra/auth0/logging.tf
Owners: @henrikhorluck, @jotjern

Extend auth0 cloudwatch log retention (#1251)
  infra/auth0/logging.tf
Owners: @henrikhorluck, @jotjern

add group members
  apps/web/src/app/committees/[id]/page.tsx
  apps/web/src/components/views/CommitteeView/index.tsx
  packages/core/src/modules/group/group-repository.ts
  packages/core/src/modules/group/group-service.ts
  packages/db/prisma/migrations/20250310194016_group_membership/migration.sql
  packages/db/prisma/schema.prisma
  packages/gateway-trpc/src/modules/group/group-router.ts
  packages/types/src/group.ts
Owners: @jotjern, @junlarsen, @henrikskog, @terbau

Only run renovate weekly
  .github/renovate.json
Owners: @junlarsen

Small fixes to backend and frontend
  apps/kvittering-backend/Dockerfile
  apps/kvittering-backend/justfile
  apps/kvittering-backend/src/core/environment_variables.py
  apps/kvittering-backend/src/server.py
  apps/kvittering-frontend/.gitignore
  apps/kvittering-frontend/biome.json
  apps/kvittering-frontend/package.json
  apps/kvittering-frontend/src/components/ui/file-upload.tsx
  apps/kvittering-frontend/src/lib/compress-img.ts
  pnpm-lock.yaml
Owners: @junlarsen

Add persistance
  apps/kvittering-frontend/package.json
  apps/kvittering-frontend/src/components/receipt-form.tsx
  pnpm-lock.yaml
Owners: @junlarsen

Don't open compressed file in new tab
  apps/kvittering-frontend/src/components/ui/file-upload.tsx
Owners: @junlarsen

Add test mode on /test that sends email to developer email
  apps/kvittering-backend/src/core/environment_variables.py
  apps/kvittering-backend/src/server.py
  apps/kvittering-frontend/.env.local
  apps/kvittering-frontend/src/components/receipt-form.tsx
Owners: @junlarsen

Group membership (#1259)
  apps/web/src/app/committees/[id]/page.tsx
  apps/web/src/components/views/CommitteeView/index.tsx
  packages/core/src/modules/group/group-repository.ts
  packages/core/src/modules/group/group-service.ts
  packages/db/prisma/migrations/20250310194016_group_membership/migration.sql
  packages/db/prisma/schema.prisma
  packages/gateway-trpc/src/modules/group/group-router.ts
  packages/types/src/group.ts
Owners: @jotjern, @junlarsen, @henrikskog, @terbau

Fix test mode bugs in kvitteringsskjema
  apps/kvittering-frontend/src/components/receipt-form.tsx
Owners: @junlarsen

Generate s3 key on backend
  apps/kvittering-backend/src/core/environment_variables.py
  apps/kvittering-backend/src/core/pdf_generator_service.py
  apps/kvittering-backend/src/server.py
Owners: @junlarsen

Prepend instead of append random string to s3 key
  apps/kvittering-backend/src/server.py
Owners: @junlarsen

Fix bug with emails not sending
  apps/kvittering-backend/src/core/email_service.py
  apps/kvittering-backend/src/server.py
  apps/kvittering-frontend/.env.local
  apps/kvittering-frontend/src/components/ui/file-upload.tsx
  apps/kvittering-frontend/src/lib/compress-img.ts
  apps/kvittering-frontend/src/lib/upload-s3.ts
Owners: @junlarsen

Use online logo as favicon
  apps/kvittering-frontend/index.html
  apps/kvittering-frontend/public/online-logo.png
Owners: @junlarsen

Fixups
  apps/kvittering-backend/.env.template
  apps/kvittering-frontend/public/vite.svg
  apps/kvittering-frontend/src/assets/react.svg
  apps/kvittering-frontend/src/components/receipt-form.tsx
Owners: @junlarsen

hotfix prod using localhost backend
  apps/kvittering-frontend/.env.local
Owners: @junlarsen

hotfix 2
  apps/kvittering-frontend/.env.local
Owners: @junlarsen

Fix buggy amount input
  apps/kvittering-frontend/src/components/receipt-form.tsx
Owners: @junlarsen

Fail with error message if user uploads pdf
  apps/kvittering-frontend/src/components/ui/file-upload.tsx
Owners: @junlarsen

Validation for at least one attachment
  apps/kvittering-frontend/src/components/receipt-form.tsx
Owners: @junlarsen

.github/CODEOWNERS:

# Code owner file for Monoweb.
#
# We don't take this very seriously, but they are really useful for making
# GitHub auto-assign reviewers to PRs. It makes it easier for contributors to
# get pull requests reviewed.
#
# Another goal is also that people who have more experience with certain parts
# of the codebase get the responsibility to review patches that touch these
# parts.


# Until we have more defined responsibilities, I'll take ownership of code that
# is not covered by other, because I know every part of the codebase well.
*                     @junlarsen


# Pipelines and automation
.github               @junlarsen
*.Dockerfile          @junlarsen
docker-compose.yml    @junlarsen


# Main applications
apps/brevduen         @junlarsen
apps/dashboard        @henrikskog
apps/rpc              @junlarsen
apps/invoicification  @junlarsen
apps/rif              @junlarsen
apps/web              @jotjern


# Libraries and packages
packages/auth         @junlarsen @jotjern
packages/config
packages/core         @junlarsen @jotjern @henrikskog @terbau
packages/db           @jotjern
packages/email
packages/environment  @junlarsen
packages/gateway-trpc @junlarsen @jotjern @henrikskog @terbau
packages/logger       @junlarsen
packages/proxy-nextjs @junlarsen
packages/tsconfig
packages/types
packages/ui           @brage-andreas @madsab
packages/utils        @brage-andreas


# Tools
tools/shell           @henrikskog


# Infrastructure located in the monorepo
infra/auth0           @henrikhorluck @jotjern
